.new-user {
  display: block;
  margin: 0 auto;
  padding: 1.2em 0.8em;
  border: solid 1px black;
  box-shadow: 0 2px 15px rgba(60,117,162,0.4);
  background: linear-gradient(135deg,#084867,#31a7bb);
  border-radius: 8px;
  color: white;
}
.title {
  border-bottom: solid #084867 2px;
  font-weight: 500;
  font-size: 1.1em;
}
.users {
  display: flex;
  flex-direction: column;
}
.user {
  display: flex;
  margin: 1em 0;
  padding: 1.2em 0.8em;
  border: solid 1px black;
  box-shadow: 0 2px 15px rgba(60,117,162,0.4);
  background: linear-gradient(135deg,#084867,#31a7bb);
  border-radius: 8px;
  color: white;
}
.user div, .new-user.change div {
  box-sizing: border-box;
  padding: 0.3em;
  width:100%;
}
.user input{
  margin-top: 1em;
}
.change input {
  display: flex;
  flex-direction: column;
}
.id-img {
  position: relative;
}
.id-img > img.avatar {
  width: 50%;
  text-align: left;
}
.id-img > .id-num {
  position: absolute;
  left: 0;
  font-size: 1.5em;
}
.card {
  display: flex;
}
.change {
  margin: 1em auto;
  flex-direction: column;
}
.user .change input, .new-user.change {
  width: 50%;
}
.user .change {
  text-align: -webkit-center;
}
.new-user.change {
  width: 200px;
}
@media all and (min-width: 767px) {
  .users {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
  .user {
    margin: 0;
  }
  .new-user.change {
    width: 300px;
  }
}